img.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

div.single_page {
  display: block;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.flex-container > div {
  flex: 1 1 100px;
  margin: 5px;
}

.flex-container > div.graph{
  flex: 0 1 500px;
  margin-right: auto;
  /* 
  this is shorthand for [ flex-grow flex-shrink flex-basis ]
  So div.graph will not grow larger than 500px but they can shrink to fit less than 500px
  */
}

img.flex-image {
  max-width: 100%
}