/* ====================== */
/* All Recurring Reports */
/* ====================== */
@page {
    @bottom-center {
      content: counter(page);
    }
 }

h1, h6 {
  font-family: Arial;
  text-align: center; 
  margin-top: -10px
}

h2 {
  font-family: Arial;
  text-align: left;
  margin-bottom: -10px;
}

h3 {
  font-family: Helvetica Neue;
  text-align: center;
}

p, li {
  font-family: Helvetica Neue;
}

p.subheader {
  font-family: Arial;
  font-size: 10px;
  margin-bottom: -5px;
  text-align: left;
}

p.footer { 
  position: relative;
  text-align: center;    
  bottom: 0px; 
  width: 100%;
  font-size:10px
  }  

a {
  text-decoration: none;
}

table {
  table-layout: auto;
  width: 100%;
}

table, th, td {
  font-family: Arial;
  font-size: 90%;

  border: 1px solid black;
  border-collapse: collapse;
  
  text-align: center;
  vertical-align: center;
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin: 30px auto;
  }

th,tr:nth-child(even) {background-color: #f2f2f2;}

td {
  font-weight: normal;
}

img.image {
  margin: 30px auto auto;
  height: 100%;
  width: 100%;
  } 

/* ====================== */
/* Pillars Ratio Analysis */
/* ====================== */

div.single_page {
  width: 100%;
  height:100%;
  position: relative;
  top: 0px;
  bottom: 0px;
  margin: auto;
  margin-top: 0px !important;
  text-align: center;
}

img.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

img.summary_image {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}

div.inner_table {
  transform: scale(95%,95%);
  display: inline-table;
  /*margin-top: 25%;*/
}